includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/
        - database/migrations/

    # Level 9 is the highest level
    level: 5

    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Access to an undefined property App\\Models\\.*::\$.*\.#'